.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 30px;
  gap: 20px;
}

.logHeader {
  font-size: 50px;
  color: #666;
  font-family: Junge;
}

.formGroup {
  font-size: 20px;
  color: #666;
  font-family: Junge;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.myLabel {
  font-size: 20px;
  color: #666;
  font-family: Junge;
}

input {
  font-size: 16px;
  padding: 5px;
  width: 337px;
  border-radius: 10px;
  height: 30px;
  border-color: #666;
}

.logBut {
  width: 337px;
  height: 59px;
  border-radius: 10px;
  border: 1px solid #545f71;
  background: #9ba5b7;
  margin-top: 50px;
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
}

.forgotPass {
  margin-top: 50px;
  text-align: center;
}

.signStyle {
  margin-top: 50px;
  text-align: center;
  color: #666;
  font-family: Junge;
}
