
.DS_Store


node_modules/


.env/

env/
env

**/main-k8s/accounts/key.json

**/main-k8s/accounts/key.yaml

**/main-k8s/configMaps/backend.yaml

**/main-k8s/utils/cloudfare-secret.yaml


**/dev-k8s/accounts/key.json

**/dev-k8s/accounts/key.yaml

**/dev-k8s/configMaps/backend.yaml

**/dev-k8s/utils/cloudfare-secret.yaml


**/release-k8s/accounts/key.json

**/release-k8s/accounts/key.yaml

**/release-k8s/configMaps/backend.yaml

**/release-k8s/utils/cloudfare-secret.yaml