.imageGallery {
  display: flex;
  overflow-x: auto;
  margin-top: 20px;
}

.imageContainer {
  margin: 0 10px;
}

.image {
  width: 257.44px;
  height: 395.001px;
  object-fit: cover;
  border-radius: 10px;
}

.imageText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  padding: 5px;
  font-size: 32px;
  text-align: center;
  margin-bottom: 150px;
  font-family: "Junge", serif;
}

.blogComp {
  color: #545f71;
  font-family: Junge;
  font-size: 10px;
  text-decoration: none;
}

.blogComp h1,
.blogComp p {
  text-decoration: none;
}
