.myContainer {
  display: flex;
  flex-direction: column;
  top: 20%;
  position: absolute;
  left: 20%;
}
.yourClass {
  font-size: 50px;
  color: #666;
  font-family: Junge;
  text-align: center;
  margin-bottom: 20px;
}
