@import "/src/styles/globalstyle.scss";

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #ffffff;
  width: 100%;
}

.yourClass {
  width: 100%;
  height: 100%;
  font-size: 100px;
  color: #545f71;
  margin-left: 50px;
  font-family: Junge;
  margin-top: 100px;
}
