.style {
  color: #666;
  font-family: Junge;
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 50px;
}

.pStyle {
  color: #666;
  font-family: Junge;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 25px;
}
