/* EmailField.css */

/* Стили для обертки компонента */
.email-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; /* Добавим небольшой отступ снизу */
}

/* Стили для текстовой метки (label) */
.email-field label {
  font-size: 16px;
  margin-bottom: 5px; /* Отступ между меткой и полем ввода */
}

/* Стили для поля ввода email */
.email-field input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  /* Другие стили, которые вам могут понадобиться */
}
