.image-uploader {
  display: flex;
  flex-direction: column;

  margin: 20px;
  color: #666;
  font-family: Junge;
  align-items: flex-start;

  img {
    width: 501px;
    height: 550px;
    object-fit: cover;
    margin-top: 30px;
    border-radius: 90px;
  }
}

.label {
  margin-bottom: 10px;
  margin-left: -20px;
}

.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  margin-left: -20px;

  input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  span {
    display: flex;
    padding: 10px 20px;
    border: 2px solid #eef1f4;
    background-color: #eef1f4;
    border-radius: 8px;
    cursor: pointer;
  }
}
