.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: 16px;

  label {
    font-weight: bold;
  }

  .formData.image {
    size: 50px;
  }
}
